### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
.DS_Store
/client/.DS_Store
/client/venv/
/api/go.sum
/api/gen/api/pancake/__pycache__/
/api/gen/api/pancake/__pycache__/